@model IEnumerable<MVCEUprava.Models.tblLicnaKarta>

@{
    ViewBag.Title = "Index";
}

<br/>

<p>
    @Html.ActionLink("Kreiraj novu ličnu kartu", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RegistarskiBroj)
        </th>

        <th>
            @*@Html.DisplayNameFor(model => model.tblKorisnikLicneKarte.Ime)*@
            Ime i prezime
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatumIzdavanja)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatumIsteka)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.tblKorisnikAplikacije.Ime)*@
            Kreirao
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.tblKorisnikAplikacije.Ime)*@
            Izdavalac
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RegistarskiBroj)
        </td>
        <td>
            @Html.DisplayFor(modelItem =>item.tblKorisnikLicneKarte.Fullname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatumIzdavanja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatumIsteka)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblKorisnikAplikacije.Fullname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblKorisnikAplikacije.tblIzdavalac.Naziv)
        </td>

        <td>
            @Html.ActionLink("Modifikuj", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Obriši", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
