@model MVCEUprava.Models.tblKorisnikAplikacije

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tblKorisnikAplikacije</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prezime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prezime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Jmbg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Jmbg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mesto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mesto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BrojTelefona)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BrojTelefona)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatumRodjenja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatumRodjenja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblIzdavalac.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblIzdavalac.Id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
